<a href="https://colab.research.google.com/github/shanksghub/Minute-by-Minute-Price-prediction/blob/master/GRU%20Minute%20Prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [137]:




#import all libraries
import numpy as np
import pandas as pd
import math
import sklearn
import sklearn.preprocessing
import datetime
import os
import matplotlib.pyplot as plt
import tensorflow as tf




url1 = 'https://raw.githubusercontent.com/shanksghub/Minute-by-Minute-Price-prediction/master/IBM.1Min.TradesOnly.20160128.csv'


# import dataset 
df = pd.read_csv(url1)



df.head()
df.drop(columns=['Ticker'])

         Date TimeBarStart  ...  Volume  TotalTrades
0    20160128        06:14  ...      64            2
1    20160128        06:45  ...     132            5
2    20160128        08:38  ...     273            4
3    20160128        08:48  ...     500            4
4    20160128        08:51  ...       3            1
5    20160128        08:55  ...       2            1
6    20160128        08:59  ...     600            5
7    20160128        09:00  ...      88            2
8    20160128        09:25  ...     285            3
9    20160128        09:28  ...     112            2
10   20160128        09:29  ...     100            1
11   20160128        09:30  ...   76664           95
12   20160128        09:31  ...    8621           91
13   20160128        09:32  ...    3854           43
14   20160128        09:33  ...   11202           79
15   20160128        09:34  ...   10777           58
16   20160128        09:35  ...    5014           49
17   20160128        09:36  ...    8528           93
18   20160128        09:37  ...    5177           64
19   20160128        09:38  ...    6656           70
20   20160128        09:39  ...    4231           39
21   20160128        09:40  ...    7657           62
22   20160128        09:41  ...    9771          117
23   20160128        09:42  ...    2604           33
24   20160128        09:43  ...    4818           65
25   20160128        09:44  ...    4737           52
26   20160128        09:45  ...    6134           70
27   20160128        09:46  ...    8407           73
28   20160128        09:47  ...    8284           97
29   20160128        09:48  ...    3701           36
..        ...          ...  ...     ...          ...
382  20160128        15:41  ...    9045          113
383  20160128        15:42  ...   12837          147
384  20160128        15:43  ...   12704          152
385  20160128        15:44  ...   10451          130
386  20160128        15:45  ...   14800          144
387  20160128        15:46  ...   10824          118
388  20160128        15:47  ...   12444          137
389  20160128        15:48  ...   10132          124
390  20160128        15:49  ...   17172          163
391  20160128        15:50  ...   17904          196
392  20160128        15:51  ...   16516          180
393  20160128        15:52  ...   16841          186
394  20160128        15:53  ...   19558          198
395  20160128        15:54  ...   22134          221
396  20160128        15:55  ...   31324          329
397  20160128        15:56  ...   23235          253
398  20160128        15:57  ...   20846          192
399  20160128        15:58  ...   38760          307
400  20160128        15:59  ...   80450          511
401  20160128        16:02  ...  341902            7
402  20160128        16:05  ...     100            1
403  20160128        16:06  ...      12            1
404  20160128        16:10  ...      82            1
405  20160128        16:11  ...     100            1
406  20160128        16:13  ...     162            2
407  20160128        16:20  ...   13921            1
408  20160128        16:21  ...     788            2
409  20160128        16:43  ...       3            1
410  20160128        17:03  ...      50            1
411  20160128        18:19  ...      10            1

[412 rows x 9 columns]

         Date TimeBarStart  ...  Volume  TotalTrades
0    20160128        06:14  ...      64            2
1    20160128        06:45  ...     132            5
2    20160128        08:38  ...     273            4
3    20160128        08:48  ...     500            4
4    20160128        08:51  ...       3            1
5    20160128        08:55  ...       2            1
6    20160128        08:59  ...     600            5
7    20160128        09:00  ...      88            2
8    20160128        09:25  ...     285            3
9    20160128        09:28  ...     112            2
10   20160128        09:29  ...     100            1
11   20160128        09:30  ...   76664           95
12   20160128        09:31  ...    8621           91
13   20160128        09:32  ...    3854           43
14   20160128        09:33  ...   11202           79
15   20160128        09:34  ...   10777           58
16   20160128        09:35  ...    5014           49
17   20160128        09:36  ...    8528           93
18   20160128        09:37  ...    5177           64
19   20160128        09:38  ...    6656           70
20   20160128        09:39  ...    4231           39
21   20160128        09:40  ...    7657           62
22   20160128        09:41  ...    9771          117
23   20160128        09:42  ...    2604           33
24   20160128        09:43  ...    4818           65
25   20160128        09:44  ...    4737           52
26   20160128        09:45  ...    6134           70
27   20160128        09:46  ...    8407           73
28   20160128        09:47  ...    8284           97
29   20160128        09:48  ...    3701           36
..        ...          ...  ...     ...          ...
382  20160128        15:41  ...    9045          113
383  20160128        15:42  ...   12837          147
384  20160128        15:43  ...   12704          152
385  20160128        15:44  ...   10451          130
386  20160128        15:45  ...   14800          144
387  20160128        15:46  ...   10824          118
388  20160128        15:47  ...   12444          137
389  20160128        15:48  ...   10132          124
390  20160128        15:49  ...   17172          163
391  20160128        15:50  ...   17904          196
392  20160128        15:51  ...   16516          180
393  20160128        15:52  ...   16841          186
394  20160128        15:53  ...   19558          198
395  20160128        15:54  ...   22134          221
396  20160128        15:55  ...   31324          329
397  20160128        15:56  ...   23235          253
398  20160128        15:57  ...   20846          192
399  20160128        15:58  ...   38760          307
400  20160128        15:59  ...   80450          511
401  20160128        16:02  ...  341902            7
402  20160128        16:05  ...     100            1
403  20160128        16:06  ...      12            1
404  20160128        16:10  ...      82            1
405  20160128        16:11  ...     100            1
406  20160128        16:13  ...     162            2
407  20160128        16:20  ...   13921            1
408  20160128        16:21  ...     788            2
409  20160128        16:43  ...       3            1
410  20160128        17:03  ...      50            1
411  20160128        18:19  ...      10            1

[412 rows x 9 columns]

In [0]:
# data scaling (normalizing)
def normalize_data(df):
    min_max_scaler = sklearn.preprocessing.MinMaxScaler()
    df['FirstTradePrice'] = min_max_scaler.fit_transform(df.FirstTradePrice.values.reshape(-1,1))
    df['HighTradePrice'] = min_max_scaler.fit_transform(df.HighTradePrice.values.reshape(-1,1))
    df['LowTradePrice'] = min_max_scaler.fit_transform(df.LowTradePrice.values.reshape(-1,1))
    df['LastTradePrice'] = min_max_scaler.fit_transform(df['LastTradePrice'].values.reshape(-1,1))
    return df
df_norm = df.copy()
df_norm = normalize_data(df_norm)

In [0]:
# Splitting the dataset into Train, Valid & test data 
valid_set_size_percentage = 10 
test_set_size_percentage = 10 
seq_len = 20 # taken sequence length as 20
def load_data(ds, seq_len):
    data_raw = ds.as_matrix() 
    data = [] 
    for index in range(len(data_raw) - seq_len): 
        data.append(data_raw[index: index + seq_len])
    data = np.array(data);
    valid_set_size = int(np.round(valid_set_size_percentage/100*data.shape[0]));  
    test_set_size = int(np.round(test_set_size_percentage/100*data.shape[0]));
    train_set_size = data.shape[0] - (valid_set_size + test_set_size);
    x_train = data[:train_set_size,:-1,:]
    y_train = data[:train_set_size,-1,:]
    x_valid = data[train_set_size:train_set_size+valid_set_size,:-1,:]
    y_valid = data[train_set_size:train_set_size+valid_set_size,-1,:]
    x_test = data[train_set_size+valid_set_size:,:-1,:]
    y_test = data[train_set_size+valid_set_size:,-1,:]
    return [x_train, y_train, x_valid, y_valid, x_test, y_test]

In [140]:

x_train, y_train, x_valid, y_valid, x_test, y_test = load_data(df_norm, seq_len)
print('x_train.shape = ',x_train.shape)
print('y_train.shape = ', y_train.shape)
print('x_valid.shape = ',x_valid.shape)
print('y_valid.shape = ', y_valid.shape)
print('x_test.shape = ', x_test.shape)
print('y_test.shape = ',y_test.shape)

x_train.shape =  (314, 19, 10)
y_train.shape =  (314, 10)
x_valid.shape =  (39, 19, 10)
y_valid.shape =  (39, 10)
x_test.shape =  (39, 19, 10)
y_test.shape =  (39, 10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning:

Method .as_matrix will be removed in a future version. Use .values instead.

In [0]:

n_steps = seq_len-1 
n_inputs = 4 
n_neurons = 20 
n_outputs = 4
n_layers = 2
learning_rate = 0.001
batch_size = 50
n_epochs = 10 
train_set_size = x_train.shape[0]
test_set_size = x_test.shape[0]
tf.reset_default_graph()
X = tf.placeholder(tf.float32, [None, n_steps, n_inputs])
y = tf.placeholder(tf.float32, [None, n_outputs])

In [0]:


index_in_epoch = 0;
perm_array  = np.arange(x_train.shape[0])
np.random.shuffle(perm_array)

def get_next_batch(batch_size):
    global index_in_epoch, x_train, perm_array   
    start = index_in_epoch
    index_in_epoch += batch_size 
    if index_in_epoch > x_train.shape[0]:
        np.random.shuffle(perm_array) # shuffle permutation array
        start = 0 # start next epoch
        index_in_epoch = batch_size     
    end = index_in_epoch
    return x_train[perm_array[start:end]], y_train[perm_array[start:end]]

In [0]:

#GRU 
layers = [tf.contrib.rnn.GRUCell(num_units=n_neurons, activation=tf.nn.relu)
          for layer in range(n_layers)]

In [0]:
                                                                  
multi_layer_cell = tf.contrib.rnn.MultiRNNCell(layers)
rnn_outputs, states = tf.nn.dynamic_rnn(multi_layer_cell, X, dtype=tf.float32)
stacked_rnn_outputs = tf.reshape(rnn_outputs, [-1, n_neurons]) 
stacked_outputs = tf.layers.dense(stacked_rnn_outputs, n_outputs)
outputs = tf.reshape(stacked_outputs, [-1, n_steps, n_outputs])
outputs = outputs[:,n_steps-1,:]

In [0]:
# Cost function
loss = tf.reduce_mean(tf.square(outputs - y))

#optimizer
optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate) 
training_op = optimizer.minimize(loss)

In [146]:

                                              
# Fitting the model
with tf.Session() as sess: 
    sess.run(tf.global_variables_initializer())
    for iteration in range(int(n_epochs*train_set_size/batch_size)):
        x_batch, y_batch = get_next_batch(batch_size) # fetch the next training batch 
        sess.run(training_op, feed_dict={X: x_batch, y: y_batch}) 
        if iteration % int(5*train_set_size/batch_size) == 0:
            mse_train = loss.eval(feed_dict={X: x_train, y: y_train}) 
            mse_valid = loss.eval(feed_dict={X: x_valid, y: y_valid}) 
            print('%.2f epochs: MSE train/valid = %.6f/%.6f'%(
                iteration*batch_size/train_set_size, mse_train, mse_valid))
            
            # Predictions
    y_test_pred = sess.run(outputs,feed_dict={X: x_test})

ValueError: ignored

In [147]:

    
#checking prediction output nos 
y_test_pred.shape

NameError: ignored

In [0]:

# ploting the graph
comp = pd.DataFrame({'Column1':y_test[:,3],'Column3':y_test_pred[:,3]})
plt.figure(figsize=(10,5))
plt.plot(comp['Column1'], color='blue', label='Target')
plt.plot(comp['Column3'], color='black', label='Prediction')
plt.legend()
plt.show()